<%= form_with(model: game_category, local: true) do |form| %>
  <% if game_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game_category.errors.count, "error") %> prohibited this game_category from being saved:</h2>

      <ul>
      <% game_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :article_id %>
    <%= form.text_field :article_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
