<p id="notice"><%= notice %></p>

<h1>Game Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Article</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_categories.each do |game_category| %>
      <tr>
        <td><%= game_category.category %></td>
        <td><%= game_category.article %></td>
        <td><%= link_to 'Show', game_category %></td>
        <td><%= link_to 'Edit', edit_game_category_path(game_category) %></td>
        <td><%= link_to 'Destroy', game_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Category', new_game_category_path %>
