<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @game_category.category %>
</p>

<p>
  <strong>Article:</strong>
  <%= @game_category.article %>
</p>

<%= link_to 'Edit', edit_game_category_path(@game_category) %> |
<%= link_to 'Back', game_categories_path %>
