<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleArticles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  </head>

  <body>
  <header class="container-fluid">
   <div class="nav-header row">
    <div class="logo col-3 d-flex align-items-center">
      <%= image_tag "logo.png" %>
    </div>
    <div class="right-left-navbar col-5 justify-content-center d-flex align-items-center">
      <%= link_to "HOME", articles_path, :class => "mr-4" %>
      <%= link_to 'NEW ARTICLE', new_article_path %>
    </div>
    <div class="right-left-navbar col-4 d-flex align-items-center justify-content-end">
     <span class="align-middle">
     <%= login_logout %>
     </span>
     <span class="align-middle">
     <%= link_to "REGISTER", signup_path, :class => "ml-4" %>
     </span>
     
    </div>
   </div>
  </header>
    <%= yield %>
    <footer class="container-fluid">
     <div class="nav-footer row">
    <div class="col-3 d-flex align-items-center">
      <%= image_tag "logo.png" %>
    </div>

    <div class="col-5 justify-content-center d-flex align-items-center">
      <a class="privacy mr-4" href="#">Privacy Police Terms and Conditions</a>
         <span>Copyright 2014. All rights reserved</span>
    </div>

    <div class="col-4 d-flex align-items-center justify-content-end">
     <%= image_tag "twitter.png" %>
     <%= image_tag "instagram.png" %>
     <%= image_tag "facebook.png" %>
    </div>

   </div>
    </footer>
  </body>
</html>
