<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleArticles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="container-fluid">
   <div class="row">
    <div class="col-4">
      <img src="1600821552304.png" alt="gamerlife-logo"/>
    </div>
    <div class="col-4 justify-content-center">
      <a class="mr-4" href="#">
      <%= link_to "Home", articles_path %>
      </a>
      <%= link_to 'New Article', new_article_path %>
    </div>
    <div class="col-4 align-items-right">
     <span>
     <%= login_logout %>
     </span>
     <span>
     <%= link_to "Sign_up", signup_path %>
     </span>
     
    </div>
   </div>
  </header>
    <%= yield %>
  </body>
</html>
