<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleArticles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  </head>

  <body>
  <header class="container-fluid">
   <div class="nav-header row">
    <div class="logo col-3 d-flex align-items-center">
      <img src="1600821552304.png" alt="gamerlife-logo"/>
    </div>
    <div class="right-left-navbar col-5 justify-content-center d-flex align-items-center">
      <a class="mr-4" href="#">
      <%= link_to "HOME", articles_path, :class => "mr-4" %>
      </a>
      <%= link_to 'NEW ARTICLE', new_article_path %>
    </div>
    <div class="right-left-navbar col-4 d-flex align-items-center justify-content-end">
     <span class="align-middle">
     <%= login_logout %>
     </span>
     <span class="align-middle">
     <%= link_to "REGISTER", signup_path, :class => "ml-4" %>
     </span>
     
    </div>
   </div>
  </header>
    <%= yield %>
  </body>
</html>
