<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleArticles</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="container-flid">
    <div class="col-">
      <img>
    </div>
    <div class="container-fluid">
      <a class="mr-4 col-6" href="#">Home</a>
      <a href="#" class="col-6">New Article</a>
    </div>
  </header>
    <%= yield %>
  </body>
</html>
